{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Classify Text with LSTM(ISOT)</h2>
    <p>More words for better results(Upto 7000 words)</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Predict</button>
    </form>
</div>

{% if result %}
<div class="card">
    <h3>Prediction Result</h3>
    <p><strong>Label:</strong> {{ result.label }}</p>
    <p><strong>Confidence:</strong> {{ result.confidence|floatformat:4 }}%</p>
</div>
{% endif %}
{% endblock %}
